name: PR Check

on:
  pull_request:

jobs:
  test-lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: install
        run: make -f ci.mk install
      - name: lint
        run: make -f ci.mk lint
      - name: test
        run: make -f ci.mk test
      - name: build
        run: make -f ci.mk build
      - name: check changesets
        run: make -f ci.mk check_changesets
