name: PR Check

on:
  pull_request:

jobs:
  test-lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup-yarn
      - name: lint
        run: make -f ci.mk lint
      - name: test
        run: make -f ci.mk test
      - name: build
        run: make -f ci.mk build
